.sidebar-logo {
    width: 120px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Aumentar e centralizar o título na barra lateral */
.sidebar-brand-text {
    font-size: 3.0rem;    /* Aumenta o tamanho (o padrão é ~1rem) */
    font-weight: bold;    /* Opcional: deixa em negrito para destacar mais */
    text-align: center;   /* Centraliza o texto */
    display: block;       /* Necessário para que a centralização funcione */
    margin-top: 12px;     /* Adiciona um espaço entre o logo e o título */
    line-height: 1.2;     /* Ajusta o espaçamento entre linhas se o título for longo */
}

/* Garante que o link que envolve o logo e o título também esteja centralizado */
.sidebar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none !important; /* Remove sublinhados indesejados */
}

:root {
  --color-brand-primary: #083563;
  --color-brand-secondary: #ff6600;
  --color-band-hover: #ffa602;
}

/* Top-level links */
html body .sidebar-tree .toctree-l1 > .reference {
  color: #083563;
}

/* Hover */
html body .sidebar-tree .toctree-l1 > .reference:hover {
  color: #a38300;
}

/* Item atual */
html body .sidebar-tree .toctree-l1.current > .reference {
  color: #083562;
  font-weight: bold;
}

/* Subníveis */
html body .sidebar-tree .toctree-l2 > .reference,
html body .sidebar-tree .toctree-l3 > .reference {
  color: #a38300;
}

/* Hover subníveis */
html body .sidebar-tree .toctree-l2 > .reference:hover,
html body .sidebar-tree .toctree-l3 > .reference:hover {
  color: #ffcc00;
}

/* Ativo subnível */
html body .sidebar-tree .toctree-l2.current > .reference,
html body .sidebar-tree .toctree-l3.current > .reference {
  color: #ff6600;
}

html body .sidebar {
  --color-brand-primary: #083563;
  --color-brand-content: #083563;
}

html body .sidebar .sidebar-tree a {
  color: #083563;
}

html body .sidebar .sidebar-tree a:hover {
  color: #ffcc00;
}

html body .sidebar .sidebar-tree .current > a {
  color: #ff6600;
}